*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
}

body{
    background-color: #ECF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    width: 614px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-1{
    background-color: bisque;
    display: flex;
    justify-content: center;
    margin-right: -10px;
    z-index: 1;
    border-radius: 25px;
}

.result-circle{
    height: 170px;
    width: 170px;
    margin-top: 80px;
    border-radius: 50%;
    background-color: black;
}

.card-2{
    background-color: aqua;
    margin-left: -10px;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid red;
    margin: 20px 0px 20px 19px;
}

.flex-card{
    height: 50px;
    width: 240px;
    background-color: black;
    border-radius: 10px;
}